@charset "UTF-8";

:root {
  --black: #000;
  --white: #fff;
  --main-color: var(--black);
  --blue: #36406f;
  --add-blue: #3e497a;
  --red: #d04f51;
  --light-red: #ea897e;
  --gray: #eef0f9;
  --add-offsize: 1rem;
}

@font-face {
  font-family: Mont;
  font-display: swap;
  src: url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  font-display: swap;
  src: url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  font-display: swap;
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: "Mont";
  font-size: var(--main-offsize);
  letter-spacing: 0.05em;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mont";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  line-height: 1.2666666667;
}

.title--white {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  color: var(--white);
  line-height: 1.2857142857;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button span {
  margin: 0 0.625rem 0 0;
}

.button--red {
  background-color: var(--red);
}

.button--blue {
  background-color: var(--add-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
}

iframe,
.video-poster {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.video-play-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video-play-icon {
  fill: #ffffff;
}

.video-play:focus {
  outline: none;
}

.video:hover .video-play-shape,
.video:focus .video-play-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(92, 101, 139, 0.35);
  -webkit-transition: padding 0.3s ease 0s;
  -o-transition: padding 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0.9375rem 0 0;
}

.header__button {
  color: var(--blue);
  -webkit-transition: color 0.3s ease 0s, -webkit-flex-basis 0.3s ease 0s;
  transition: color 0.3s ease 0s, -webkit-flex-basis 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, flex-basis 0.3s ease 0s;
  transition: color 0.3s ease 0s, flex-basis 0.3s ease 0s;
  transition: color 0.3s ease 0s, flex-basis 0.3s ease 0s, -webkit-flex-basis 0.3s ease 0s, -ms-flex-preferred-size 0.3s ease 0s;
}

.header__button svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-flex-basis 0.3s ease 0s;
  transition: -webkit-flex-basis 0.3s ease 0s;
  -o-transition: flex-basis 0.3s ease 0s;
  transition: flex-basis 0.3s ease 0s;
  transition: flex-basis 0.3s ease 0s, -webkit-flex-basis 0.3s ease 0s, -ms-flex-preferred-size 0.3s ease 0s;
}

@supports (flex-basis: clamp( 2.8125rem , 1.3371212121rem  +  4.9696969697vw , 5.375rem )) {
  .logo__image {
    -ms-flex-preferred-size: clamp( 2.8125rem , 1.3371212121rem  +  4.9696969697vw , 5.375rem );
        flex-basis: clamp( 2.8125rem , 1.3371212121rem  +  4.9696969697vw , 5.375rem );
  }
}

@supports not (flex-basis: clamp( 2.8125rem , 1.3371212121rem  +  4.9696969697vw , 5.375rem )) {
  .logo__image {
    -ms-flex-preferred-size: calc(2.8125rem + 2.5625 * (100vw - 29.6875rem) / 51.5625);
        flex-basis: calc(2.8125rem + 2.5625 * (100vw - 29.6875rem) / 51.5625);
  }
}

@supports (margin-right: clamp( 0.9375rem , 0.3617424242rem  +  1.9393939394vw , 1.9375rem )) {
  .logo__image {
    margin-right: clamp( 0.9375rem , 0.3617424242rem  +  1.9393939394vw , 1.9375rem );
  }
}

@supports not (margin-right: clamp( 0.9375rem , 0.3617424242rem  +  1.9393939394vw , 1.9375rem )) {
  .logo__image {
    margin-right: calc(0.9375rem + 1 * (100vw - 29.6875rem) / 51.5625);
  }
}

@supports (flex-basis: clamp( 4rem , 2.9204545455rem  +  3.6363636364vw , 5.875rem )) {
  .impaired-mode .logo__image {
    -ms-flex-preferred-size: clamp( 4rem , 2.9204545455rem  +  3.6363636364vw , 5.875rem );
        flex-basis: clamp( 4rem , 2.9204545455rem  +  3.6363636364vw , 5.875rem );
  }
}

@supports not (flex-basis: clamp( 4rem , 2.9204545455rem  +  3.6363636364vw , 5.875rem )) {
  .impaired-mode .logo__image {
    -ms-flex-preferred-size: calc(4rem + 1.875 * (100vw - 29.6875rem) / 51.5625);
        flex-basis: calc(4rem + 1.875 * (100vw - 29.6875rem) / 51.5625);
  }
}

.logo__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__text {
  color: var(--blue);
}

.logo__name {
  display: block;
  font-weight: 600;
  line-height: 1.2708333333;
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
}

@supports (font-size: clamp( 1.5rem , 0.6363636364rem  +  2.9090909091vw , 3rem )) {
  .logo__name {
    font-size: clamp( 1.5rem , 0.6363636364rem  +  2.9090909091vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.6363636364rem  +  2.9090909091vw , 3rem )) {
  .logo__name {
    font-size: calc(1.5rem + 1.5 * (100vw - 29.6875rem) / 51.5625);
  }
}

@supports (font-size: clamp( 2rem , 1.1723484848rem  +  2.7878787879vw , 3.4375rem )) {
  .impaired-mode .logo__name {
    font-size: clamp( 2rem , 1.1723484848rem  +  2.7878787879vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.1723484848rem  +  2.7878787879vw , 3.4375rem )) {
  .impaired-mode .logo__name {
    font-size: calc(2rem + 1.4375 * (100vw - 29.6875rem) / 51.5625);
  }
}

.logo__descr {
  text-transform: uppercase;
  line-height: 1.2666666667;
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.4962121212rem  +  1.696969697vw , 1.875rem )) {
  .logo__descr {
    font-size: clamp( 1rem , 0.4962121212rem  +  1.696969697vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.4962121212rem  +  1.696969697vw , 1.875rem )) {
  .logo__descr {
    font-size: calc(1rem + 0.875 * (100vw - 29.6875rem) / 51.5625);
  }
}

@supports (font-size: clamp( 1.25rem , 0.5303030303rem  +  2.4242424242vw , 2.5rem )) {
  .impaired-mode .logo__descr {
    font-size: clamp( 1.25rem , 0.5303030303rem  +  2.4242424242vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.5303030303rem  +  2.4242424242vw , 2.5rem )) {
  .impaired-mode .logo__descr {
    font-size: calc(1.25rem + 1.25 * (100vw - 29.6875rem) / 51.5625);
  }
}

.footer {
  padding: 24px 0;
  background-color: #162a45;
  color: var(--white);
}

.footer__info {
  margin: 0 0 1.5rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857;
  max-width: 63.125rem;
}

.impaired-mode .footer__info {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.footer__bottom {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
}

.impaired-mode .footer__year {
  font-size: 1.375rem;
}

.footer__nmb {
  font-size: 0.875rem;
}

.impaired-mode .footer__nmb {
  font-size: 1rem;
}

.articles__body {
  -webkit-transition: display 0.3s ease 0s;
  -o-transition: display 0.3s ease 0s;
  transition: display 0.3s ease 0s;
}

.article {
  border-radius: 20px;
}

.article:not(.article--first) {
  background-color: var(--gray);
  -webkit-transition: padding 0.3s ease 0s;
  -o-transition: padding 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

.article--first {
  background-color: var(--add-blue);
  -webkit-transition: margin 0.3s ease 0s;
  -o-transition: margin 0.3s ease 0s;
  transition: margin 0.3s ease 0s;
}

.article--first .article__wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.article--first .article__image {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: -webkit-flex-basis 0.3s ease 0s;
  transition: -webkit-flex-basis 0.3s ease 0s;
  -o-transition: flex-basis 0.3s ease 0s;
  transition: flex-basis 0.3s ease 0s;
  transition: flex-basis 0.3s ease 0s, -webkit-flex-basis 0.3s ease 0s, -ms-flex-preferred-size 0.3s ease 0s;
}

@supports (flex-basis: clamp( 8.4375rem , 0.8806818182rem  +  25.4545454545vw , 21.5625rem )) {
  .article--first .article__image {
    -ms-flex-preferred-size: clamp( 8.4375rem , 0.8806818182rem  +  25.4545454545vw , 21.5625rem );
        flex-basis: clamp( 8.4375rem , 0.8806818182rem  +  25.4545454545vw , 21.5625rem );
  }
}

@supports not (flex-basis: clamp( 8.4375rem , 0.8806818182rem  +  25.4545454545vw , 21.5625rem )) {
  .article--first .article__image {
    -ms-flex-preferred-size: calc(8.4375rem + 13.125 * (100vw - 29.6875rem) / 51.5625);
        flex-basis: calc(8.4375rem + 13.125 * (100vw - 29.6875rem) / 51.5625);
  }
}

.article--first .article__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.3040446304%;
          flex: 0 1 46.3040446304%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@supports (flex-basis: clamp( 5.1875rem , 2.5606060606rem  +  8.8484848485vw , 9.75rem )) {
  .article__image {
    -ms-flex-preferred-size: clamp( 5.1875rem , 2.5606060606rem  +  8.8484848485vw , 9.75rem );
        flex-basis: clamp( 5.1875rem , 2.5606060606rem  +  8.8484848485vw , 9.75rem );
  }
}

@supports not (flex-basis: clamp( 5.1875rem , 2.5606060606rem  +  8.8484848485vw , 9.75rem )) {
  .article__image {
    -ms-flex-preferred-size: calc(5.1875rem + 4.5625 * (100vw - 29.6875rem) / 51.5625);
        flex-basis: calc(5.1875rem + 4.5625 * (100vw - 29.6875rem) / 51.5625);
  }
}

.article__image svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.article__descr {
  line-height: 1.3;
  font-weight: 600;
  color: var(--white);
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
}

@supports (font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem )) {
  .article__descr {
    font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem )) {
  .article__descr {
    font-size: calc(0.875rem + 0.375 * (100vw - 29.6875rem) / 57.8125);
  }
}

@supports (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .article__descr {
    font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .article__descr {
    font-size: calc(1.125rem + 1.125 * (100vw - 29.6875rem) / 57.8125);
  }
}

.video-block__body {
  background-color: var(--add-blue);
  border-radius: 20px;
  overflow: hidden;
}

.video-block__video .video-play svg {
  width: 79px;
  height: 78px;
}

.video-block__info {
  color: var(--white);
}

.impaired-mode .video-block__info {
  max-width: 73.75rem;
}

.video-block__title {
  text-transform: uppercase;
  margin: 0 0 0.625rem 0;
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
}

.video-block__title span,
.video-block__title br {
  display: none;
}

.video-block__descr {
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
  line-height: 1.2857142857;
}

@supports (font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem )) {
  .video-block__descr {
    font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6824324324rem  +  0.6486486486vw , 1.25rem )) {
  .video-block__descr {
    font-size: calc(0.875rem + 0.375 * (100vw - 29.6875rem) / 57.8125);
  }
}

@supports (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .video-block__descr {
    font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .video-block__descr {
    font-size: calc(1.125rem + 1.125 * (100vw - 29.6875rem) / 57.8125);
  }
}

.video__file {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.prepare__body {
  background-color: var(--light-red);
  border-radius: 20px;
}

.prepare__image {
  margin: 0 2.375rem 0 0;
}

.impaired-mode .prepare__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.2443729904%;
          flex: 0 1 34.2443729904%;
}

.prepare__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prepare__info {
  max-width: 34.6875rem;
}

.impaired-mode .prepare__info {
  max-width: 47.5rem;
  padding: 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.4790996785%;
          flex: 0 1 66.4790996785%;
}

.prepare__title {
  margin: 0 0 1.25rem 0;
}

.prepare__descr {
  margin: 0 0 1.25rem 0;
  color: var(--white);
  line-height: 1.2857142857;
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem )) {
  .prepare__descr {
    font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem )) {
  .prepare__descr {
    font-size: calc(1rem + 0.25 * (100vw - 29.6875rem) / 57.8125);
  }
}

@supports (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .prepare__descr {
    font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .prepare__descr {
    font-size: calc(1.125rem + 1.125 * (100vw - 29.6875rem) / 57.8125);
  }
}

.impaired-mode .actions__body {
  display: block;
}

.actions__column {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions__main-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.9208633094%;
          flex: 0 1 48.9208633094%;
}

.column-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: rgba(234, 137, 126, 0.2);
  border-radius: 20px;
}

.impaired-mode .column-actions {
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.column-actions__icon {
  margin: 0 1.875rem 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.125rem;
          flex: 0 0 8.125rem;
}

.impaired-mode .column-actions__icon {
  -webkit-transition: margin 0.3s ease 0s;
  -o-transition: margin 0.3s ease 0s;
  transition: margin 0.3s ease 0s;
}

.column-actions__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column-actions__title {
  max-width: 23.125rem;
}

.impaired-mode .column-actions__title {
  max-width: none;
}

.main-column-actions {
  background: #437DAF;
  border-radius: 20px;
  overflow: hidden;
}

.main-column-actions__title {
  margin: 0 0 1.75rem 0;
}

.main-column-actions__descr {
  margin: 0 0 1.75rem 0;
  -webkit-transition: font-size 0.3s ease 0s;
  -o-transition: font-size 0.3s ease 0s;
  transition: font-size 0.3s ease 0s;
  color: var(--white);
  line-height: 1.2857142857;
}

@supports (font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem )) {
  .main-column-actions__descr {
    font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8716216216rem  +  0.4324324324vw , 1.25rem )) {
  .main-column-actions__descr {
    font-size: calc(1rem + 0.25 * (100vw - 29.6875rem) / 57.8125);
  }
}

@supports (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .main-column-actions__descr {
    font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.5472972973rem  +  1.9459459459vw , 2.25rem )) {
  .impaired-mode .main-column-actions__descr {
    font-size: calc(1.125rem + 1.125 * (100vw - 29.6875rem) / 57.8125);
  }
}

.main-column-actions__image {
  max-width: 379px;
  margin: 5rem auto -60px;
}

.main-column-actions__image svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 29.99875em) {
  :root:not(.impaired-mode) {
    --main-offsize: 1.25rem;
  }

  :root.impaired-mode {
    --main-offsize: 2.25rem;
  }

@supports (font-size: clamp( 1.125rem , 0.7398648649rem  +  1.2972972973vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.125rem , 0.7398648649rem  +  1.2972972973vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7398648649rem  +  1.2972972973vw , 1.875rem )) {
    .title {
      font-size: calc(1.125rem + 0.75 * (100vw - 29.6875rem) / 57.8125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4898648649rem  +  1.2972972973vw , 2.625rem )) {
    .impaired-mode .title {
      font-size: clamp( 1.875rem , 1.4898648649rem  +  1.2972972973vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4898648649rem  +  1.2972972973vw , 2.625rem )) {
    .impaired-mode .title {
      font-size: calc(1.875rem + 0.75 * (100vw - 29.6875rem) / 57.8125);
    }
}

@supports (font-size: clamp( 1.625rem , 0.9189189189rem  +  2.3783783784vw , 3rem )) {
    .impaired-mode .title--white {
      font-size: clamp( 1.625rem , 0.9189189189rem  +  2.3783783784vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 0.9189189189rem  +  2.3783783784vw , 3rem )) {
    .impaired-mode .title--white {
      font-size: calc(1.625rem + 1.375 * (100vw - 29.6875rem) / 57.8125);
    }
}

  .button {
    width: 174px;
    padding: 1.25rem;
    font-size: 0.875rem;
  }

  .impaired-mode .button {
    width: 278px;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 60px;
  }

  .button svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.9375rem;
            flex: 0 0 0.9375rem;
  }

  .impaired-mode .button svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.9375rem;
            flex: 0 0 0.9375rem;
  }

  .header__content {
    padding: 1.25rem 0 2.75rem;
  }

  .impaired-mode .header__content {
    padding: 2.5rem 0 2.125rem;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.125rem;
            flex: 0 0 3.125rem;
  }

  .impaired-mode .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.1875rem;
            flex: 0 0 4.1875rem;
  }

  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page__articles {
    margin: 0 0 3.375rem 0;
  }

  .page__video-block {
    margin: 0 0 3.375rem 0;
  }

  .page__prepare {
    margin: 0 0 3.375rem 0;
  }

  .page__actions {
    margin: 0 0 3.375rem 0;
  }

  .article--first {
    padding: 0 30px;
  }

  .video-block__info {
    padding: 35px 20px 70px;
  }

  .main-column-actions {
    padding: 60px 30px 0;
  }
}

@media (min-width: 47.99875em) {
  .header__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .article__title:not(:last-child) {
    margin: 0 0 1.875rem 0;
  }

  .article__descr {
    margin: 0 0 1.875rem 0;
  }

  .prepare__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 94px 0 54px;
  }
}

@media (min-width: 61.99875em) {
  .articles {
    padding-top: 3.4375rem;
  }

  .article:not(.article--first) {
    padding: 30px 45px;
  }

  .impaired-mode .article:not(.article--first) {
    padding: 50px 45px;
  }

@supports (flex-basis: clamp( 14.125rem , 2.6818181818rem  +  38.5454545455vw , 34rem )) {
    .impaired-mode .article--first .article__image {
      -ms-flex-preferred-size: clamp( 14.125rem , 2.6818181818rem  +  38.5454545455vw , 34rem );
          flex-basis: clamp( 14.125rem , 2.6818181818rem  +  38.5454545455vw , 34rem );
    }
}

@supports not (flex-basis: clamp( 14.125rem , 2.6818181818rem  +  38.5454545455vw , 34rem )) {
    .impaired-mode .article--first .article__image {
      -ms-flex-preferred-size: calc(14.125rem + 19.875 * (100vw - 29.6875rem) / 51.5625);
          flex-basis: calc(14.125rem + 19.875 * (100vw - 29.6875rem) / 51.5625);
    }
}

  .article--first .article__image svg {
    -webkit-transform: translate(0px, 4px);
        -ms-transform: translate(0px, 4px);
            transform: translate(0px, 4px);
  }

  .actions__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .actions__columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47.6978417266%;
            flex: 0 1 47.6978417266%;
    margin: 0 3.125rem 0 0;
  }

  .impaired-mode .actions__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 3.125rem 0;
  }

  .impaired-mode .actions__column:not(:last-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    margin: 0;
  }

  .impaired-mode .actions__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0;
  }

  .column-actions:not(:last-child) {
    margin: 0 0 2.8125rem 0;
  }
}

@media (min-width: 74.99875em) {
  .impaired-mode .actions__columns {
    gap: 45px;
  }
}

@media (min-width: 79.6875em) {
  .impaired-mode .articles__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 81.25em) {
  .articles__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .impaired-mode .articles__body {
    display: block;
  }

  .articles__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40.3735632184%;
            flex: 0 1 40.3735632184%;
  }

  .articles__column .articles__item:not(:last-child) {
    margin: 0 0 2.875rem 0;
  }

  .impaired-mode .articles__column .articles__item:not(:last-child) {
    margin: 0 2.875rem 0 0;
  }

  .article--first {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55.8189655172%;
            flex: 0 1 55.8189655172%;
    margin: 0 3.8074712644% 0 0;
  }

  .impaired-mode .article--first {
    margin: 0 0 3.125rem 0;
  }

  .article__image {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media (min-width: 75em) {
  .article__image {
    margin: 0 2.5rem 0 0;
  }
}

@media (max-width: 81.25em) {
  .article__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 79.6875em) {
  .impaired-mode .articles__column {
    display: block;
  }
}

@media (max-width: 61.99875em) {
  .impaired-mode .article--first .article__image {
    margin: 20px auto 0;
  }

  .article__image {
    margin: 0 2.6875rem 0 0;
  }

  .actions__columns {
    margin: 0 0 1.625rem 0;
  }
}

@media (max-width: 47.99875em) {
  .header__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .articles__column .articles__item:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }

  .article--first {
    margin: 0 0 0.9375rem 0;
  }

  .impaired-mode .article--first .article__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .impaired-mode .article--first .article__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .article__title:not(:last-child) {
    margin: 0 0 0.625rem 0;
  }

  .article__descr {
    margin: 0 0 0.625rem 0;
  }

  .prepare__body {
    padding: 20px 30px 0;
  }

  .prepare__image {
    max-width: 28.125rem;
    margin: 0px auto;
  }

  .column-actions__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.25rem;
            flex: 0 0 5.25rem;
  }
}

@media (max-width: 34.375em) {
  .video-block__title span,
  .video-block__title br {
    display: inline;
  }
}

@media (max-width: 29.99875em) {
  :root {
    --main-offsize: 0.875rem;
    --title-offsize: 1rem;
  }

  .title {
    font-size: var(--title-offsize);
  }

  .impaired-mode .title {
    font-size: 1.875rem;
  }

  .impaired-mode .title--white {
    font-size: 1.625rem;
  }

  .button {
    width: 8.1875rem;
    padding: 0.625rem;
    font-size: 0.75rem;
  }

  .impaired-mode .button {
    width: 11.3125rem;
    padding: 0.9375rem;
    font-size: 1.125rem;
  }

  .button svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.75rem;
            flex: 0 0 0.75rem;
  }

  .impaired-mode .button svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.25rem;
            flex: 0 0 1.25rem;
  }

  .header__content {
    padding: 0.625rem 0 0.75rem;
  }

  .impaired-mode .header__content {
    padding: 1.6875rem 0 1.25rem;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .impaired-mode .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.8125rem;
            flex: 0 0 2.8125rem;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__bottom {
    font-size: 0.875rem;
  }

  .impaired-mode .footer__year {
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
  }

  .impaired-mode .footer__nmb {
    font-size: 1rem;
  }

  .page__articles {
    margin: 0 0 1.625rem 0;
  }

  .page__video-block {
    margin: 0 0 1.625rem 0;
  }

  .page__prepare {
    margin: 0 0 1.625rem 0;
  }

  .page__actions {
    margin: 0 0 1.625rem 0;
  }

  .articles {
    padding-top: 1.625rem;
  }

  .article--first {
    padding: 0 20px;
  }

  .impaired-mode .article--first .article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .impaired-mode .article--first .article__image {
    max-width: 14.125rem;
  }

  .impaired-mode .article--first .article__body {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .impaired-mode .article__wrapper {
    display: block;
  }

  .impaired-mode .article__image {
    max-width: 120px;
    margin: 0 0 1.875rem 0;
  }

  .video-block__info {
    padding: 20px 23px 25px;
  }

  .video-block__title {
    margin: 0 0 1.25rem 0;
  }

  .prepare__body {
    padding: 20px 10px 0;
  }

  .prepare__image {
    max-width: 15rem;
  }

  .impaired-mode .prepare__image {
    max-width: 16.875rem;
  }

  .prepare__descr {
    margin: 0 0 0.625rem 0;
  }

  .column-actions:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }

  .impaired-mode .column-actions {
    display: block;
  }

  .impaired-mode .column-actions .column-actions__icon {
    max-width: 7.5rem;
  }

  .impaired-mode .column-actions:first-child .column-actions__icon {
    max-width: 5.625rem;
  }

  .impaired-mode .column-actions__icon {
    margin: 0 0 1.875rem 0;
  }

  .main-column-actions {
    padding: 27px 16.5px 0;
  }

  .main-column-actions__descr {
    margin: 0 0 0.625rem 0;
  }

  .main-column-actions__image {
    max-width: 14rem;
    margin: 5rem auto -40px;
  }

  .impaired-mode .main-column-actions__image {
    max-width: 16.25rem;
  }
}

@media (max-width: 26.875em) {
  .logo__descr {
    display: block;
    max-width: 260px;
  }

  .impaired-mode .video-block__title {
    font-size: 1.625rem;
  }

  .impaired-mode .video-block__descr {
    font-size: 0.875rem;
  }
}

@media (max-width: 26.25em) {
  .article--first .article__wrapper {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .article--first .article__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 9.375rem;
    margin: 1.25rem auto 0;
  }
}

@media (max-width: 25.625em) {
  .impaired-mode .logo__name {
    font-size: 2rem;
  }
}

@media (max-width: 23.5em) {
  .impaired-mode .logo__name {
    font-size: 1.75rem;
  }

  .impaired-mode .logo__descr {
    font-size: 1.125rem;
  }
}

@media (max-width: 23.75em) {
  .article:not(.article--first) {
    padding: 20px;
  }
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
  .articles {
    padding-top: 2.5rem;
  }

  .article:not(.article--first) {
    padding: 30px 20px;
  }

  .article--first .article__image {
    margin: 0 2.5rem 0 0;
  }

  .column-actions:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }
}

@media (min-width: 47.99875em) and (max-width: 81.25em) {
  .articles__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .articles__column .articles__item:not(:last-child) {
    margin: 0 1.25rem 0 0;
  }

  .impaired-mode .articles__column .articles__item:not(:last-child) {
    margin: 0 0 46px 0;
  }

  .article--first {
    margin: 0 0 3.125rem 0;
  }
}

@media (min-width: 23.75em) and (max-width: 29.99875em) {
  .article:not(.article--first) {
    padding: 20px 45px;
  }
}

@media (min-width: 26.25em) and (max-width: 29.99875em) {
  .article--first .article__image {
    margin: 0 1.25rem 0 0;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
@supports (flex-basis: clamp( 14.125rem , 11.4621212121rem  +  8.9696969697vw , 18.75rem )) {
    .impaired-mode .article--first .article__image {
      -ms-flex-preferred-size: clamp( 14.125rem , 11.4621212121rem  +  8.9696969697vw , 18.75rem );
          flex-basis: clamp( 14.125rem , 11.4621212121rem  +  8.9696969697vw , 18.75rem );
    }
}

@supports not (flex-basis: clamp( 14.125rem , 11.4621212121rem  +  8.9696969697vw , 18.75rem )) {
    .impaired-mode .article--first .article__image {
      -ms-flex-preferred-size: calc(14.125rem + 4.625 * (100vw - 29.6875rem) / 51.5625);
          flex-basis: calc(14.125rem + 4.625 * (100vw - 29.6875rem) / 51.5625);
    }
}

  .prepare__info {
    padding: 30px 0;
  }
}

@media (min-width: 26.25em) and (max-width: 61.99875em) {
  .article--first .article__body {
    padding: 30px 0;
  }
}

@media (min-width: 61.99875em) and (max-width: 75em) {
  .article__image {
    margin: 0 1.25rem 0 0;
  }
}

@media (min-width: 61.99875em) and (max-width: 74.99875em) {
  .impaired-mode .actions__columns {
    gap: 15px;
  }
}

@media (any-hover: hover) {
  .button--red:hover {
    background-color: var(--light-red);
  }

  .button--blue:hover {
    background-color: var(--blue);
  }

  .video-play:hover {
    opacity: 1;
  }

  .header__button:hover {
    color: var(--main-color);
  }
}